src/main/resources/banks.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="banks">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bankList" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="id"/>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:float" name="commissionForIndividual"/>
                            <xs:element type="xs:float" name="commissionForEntity"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>